{
  "source": {
    "server": "tcp://127.0.0.1:12345",
    "envelopes": {
      "pil": "/RIG/InfoPlusPILInterface5",
      "vtbl": "/RIG/InfoPlusVTBLInterface5"
    }
  },
  "redis": {
    "url": "redis://127.0.0.1:6379?db=0"
  }
}